
.mapdiv path {
    fill: #f4f8ff;
    stroke:  #00225a;
    stroke-width:4px;
    transition: fill 0.3s;
}

.mapdiv polygon{
    fill: #f4f8ff;
    stroke:  #00225a;
    stroke-width:4px;
    transition: fill 0.3s;
}
.mapdiv path:nth-child(1) {
    cursor: pointer;
    fill: #52AF30;

    transition: fill 0.3s;
}
.mapdiv path:nth-child(2) {
    cursor: pointer;
    fill: #52AF30;

    transition: fill 0.3s;
}
.mapdiv path:nth-child(3) {
    cursor: pointer;
    fill: #52AF30 !important;

    transition: fill 0.3s;
}
.mapdiv path:nth-child(4) {
    cursor: pointer;
    fill: #52AF30 !important;

    transition: fill 0.3s;
}
.mapdiv path:nth-child(5) {
    cursor: pointer;
    fill: #00225a;

    transition: fill 0.3s;
}
.mapdiv path:nth-child(6) {
    cursor: pointer;
    fill: #52AF30;

    transition: fill 0.3s;
}
.mapdiv path:nth-child(7) {
    cursor: pointer;
    fill:#52AF30;

    transition: fill 0.3s;
}
.mapdiv :hover {
    fill:#000;
}
